@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

body {
    /* background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
    background: linear-gradient(to left, #da4453, #ff9068);
}

.container {
    border-radius: 15px;
    margin: 2.5vh auto;
    padding: 20px;
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 2fr 3fr;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-side {
    height: 100%;
    padding: 30px 0;
    display: grid;
}

.profile-image-container {
    max-width: 240px;
    height: 240px;
    margin: 0 auto;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.college-info {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    min-height: 32vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 3);
}

.college-info-title {
    font-size: 18px;
    font-weight: 700;
}

.college-info-value {
    font-weight: 500;
    font-size: 18px;
}

.right-side {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 13);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info-title {
    font-size: 15px;
    font-weight: 700;
}

.info-value {
    font-weight: 500;
    font-size: 14px;
}

.person-name {
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    font-weight: 800;
    color: #17252a;
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
}