<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./profile.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="left-side">
            <div class="profile-image-container">
                <img id="profile-image" src="./Scarlett.jpg" alt="">
            </div>
            <div class="college-info">
                <!-- <div>
                    <span>Department: </span>
                    <span class="dept">Information Technology</span>

                </div>
                <div>
                    <span>Roll Number: </span>
                    <span class="roll-number">002111001123</span>
                </div>
                <div>
                    <span>Year Of Admission: </span>
                    <span class="year">2021</span>
                </div> -->
                <div class="college-info-title">Department:</div>
                <div class="college-info-value phone-number">Information Technology</div>
                <div class="college-info-title">Roll Number:</div>
                <div class="college-info-value roll-number">002111001123</div>
                <div class="college-info-title">Current Session:</div>
                <div class="college-info-value roll-number">UG1</div>
                <div class="college-info-title">Year Of Admission:</div>
                <div class="college-info-value year">2021</div>

            </div>
        </div>
        <div class="right-side">
            <!-- <div>
                <span>Name: </span>
                <span class="name">Aditya Mayukh Som</span>
            </div>
            <div>
                <span>Phone Number:</span>
                <span class="phone-number">9874745176</span>
            </div>
            <div>
                <span>Email Id: </span>
                <span class="email">adi.kg2@gmail.com</span>
            </div>
            <div>
                <span>Gender: </span>
                <span class="gender">Male</span>
            </div>
            <div>
                <span>Birth Date: </span>
                <span class="birth-date">24-12-2002</span>
            </div>
            <div>
                <span>Blood Group: </span>
                <span class="blood-group">A+</span>
            </div>
            <div>
                <span>Father's Name: </span>
                <span class="father-name">Indrajit Som</span>
            </div>
            <div>
                <span>Mother's Name: </span>
                <span class="mother-name">Chaitali Som</span>
            </div>
            <div>
                <span>Address: </span>
                <span class="address">264, Suksanatantala Main Road , Near Nabanir</span>
            </div>
            <div>
                <span>City: </span>
                <span class="city">Chandannagar</span>
            </div>
            <div>
                <span>District: </span>
                <span class="district">Hooghly</span>
            </div>
            <div>
                <span>State: </span>
                <span class="state">West Bengal</span>
            </div>
            <div>
                <span>PIN CODE: </span>
                <span class="pincode">712136</span>
            </div> -->

            <!-- <div class="info-title">Name: </div> -->
            <div class="info-value person-name">{{ name }}</div>

            <div class="info-title">Phone Number:</div>
            <div class="info-value phone-number">9876543210</div>
            <div class="info-title">Email Id: </div>
            <div class="info-value email">email@gmail.com</div>
            <div class="info-title">Gender: </div>
            <div class="info-value gender">Female</div>
            <div class="info-title">Birth Date: </div>
            <div class="info-value birth-date">01-01-2002</div>
            <div class="info-title">Blood Group: </div>
            <div class="info-value blood-group">A+</div>
            <div class="info-title">Father's Name: </div>
            <div class="info-value father-name"> Virat Kohli</div>
            <div class="info-title">Mother's Name: </div>
            <div class="info-value mother-name">Anushka Sharma</div>
            <div class="info-title">Address: </div>
            <div class="info-value address">123 , Anantapur , Polba</div>
            <div class="info-title">City: </div>
            <div class="info-value city">Chandannagar</div>
            <div class="info-title">District: </div>
            <div class="info-value district">Hooghly</div>
            <div class="info-title">State: </div>
            <div class="info-value state">West Bengal</div>
            <div class="info-title">PIN CODE: </div>
            <div class="info-value pincode">712136</div>
        </div>
    </div>

    <script src="./profile.js"></script>
</body>

</html>